/* GERAL */
/* --------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

button{
  border: none;
  background: transparent;
  padding: 0;
  outline: none;
}
body {
  background:#82674C;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow-x: hidden;
}
h1{
  font-size:60px;
  font-weight: 700px;
}
.h3deco{
  font-size: 20px;
  letter-spacing: 5px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:#82674C;
  background-color: beige;
  background-size: cover;
  padding: 20px;
}
/* --------------------- */
/*HEADER  */
/* --------------------- */

.img {
  height: 50px;
  width: 50px;
  justify-content: center;
}
.hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: #82674C;
}
  

.nav-list {
  list-style: none;
  display: flex;
  padding: 20px;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  padding:20px;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background-color: white;
  margin: 6px;
  transition: 0.3s ease;
  border-radius: 2px;
  opacity:100%;
}

.intro {
  display: flex;
  align-items: center;
  gap: 30px;
  opacity:100%;
}


.branding {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.2;
  opacity:100%;
  justify-content: center;
}

.logo {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 4px;
  opacity:100%;
}

.sub-logo {
  font-size: 10px;
  color: white;
  opacity: 0.7;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity:100%;
}
.menuhover:before{
  content: "";
  position: absolute;
  bottom: 0px;
  height: 2px;
  width: 0;
  background-color: white;
  border-radius: 50px;
  transition: width 0.3s ease;
}
.menuhover:hover::before{
  width:100%;
}

/* MEDIA QUERY: HEADER */
@media (max-width: 999px) {
  .nav-list {
    position: absolute;
    top: 10vh;
    right: 0;
    width: 50vw;
    height: 90vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 2;
    background-color:#82674C;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }

  .nav-list.active {
    transform: translateX(0);
    
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

/* --------------------- */
/* INDEX*/

/*SLIDER DE AMOSTRAS */

.amostras {
  justify-content: center;
}
.container-slider {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
}
.container-img {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.slider {
  opacity: 0;
  transition: opacity 1s;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.on {
  opacity: 1;
}
#prev-button, #next-button {
  width: 50px;
  height: 50px;
  border: none;
  color: black;
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.126);

}
#prev-button {
  left: 10px;
}
#next-button {
  right: 10px;
}
#prev-button img, #next-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*INDEX-MAIN*/

.linhad{
  color: white;
  text-align: center;
  padding-bottom: 90px;
  padding: 20px;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 5px;
}
.Linha{
  text-align: center;
  color:white;
 padding-bottom: 20px;
  margin-top: 100px;
}
.menu-lists{
  
  justify-content: center;
  align-content: center;
  list-style: none;
  color: white;
  letter-spacing: 3px;
  border:none

}
.menuone{
  display: flex;
  justify-content: center;
  align-content: center;
}
.menutwo{
  display: flex;
  justify-content: center;
  align-content: center;
}
.imgserv{
  height: 180px;
  width: 280px;
  padding: 5px;
  object-fit: cover;
  z-index: -1;
  position: relative;
  filter: brightness(0.8);
}
.gap{
  padding: 10px;
}
.textdecoration{
  padding-top: 100px;
  position: absolute;
 z-index: 1;
 text-align: left;
 font-weight: bold;
 font-size: 13px;
 max-width: fit-content;

}
.textdecoration:before{
  content: "";
  position: absolute;
  bottom: -2px;
  height: 2px;
  width: 0;
  background-color: white;
  border-radius: 20px;
  transition: width 0.3s ease;
}
.textdecoration:hover::before{
  width:100%;
}
.consulta{
  display: flex;
  justify-content: center;
  align-content: center;
}
.engenhariadecusto{
  display: flex;
  justify-content: center;
  align-content: center;
}
.designer{
  display: flex;
  justify-content: center;
  align-content: center;
}
.gestão{
  display: flex;
  justify-content: center;
  align-content: center;
}
.laudo{
  display: flex;
  justify-content: center;
  align-content: center;
}
.pericia{
  display: flex;
  justify-content: center;
  align-content: center;
}


/*EMPRESA*/
/*-------------------*/

/*EMPRESA-MAIN*/
/*----------*/
/*EMPRESA-HERO*/
.topbackground2{
  background-image:   url(../code/imgs/plano\ de\ fundo1.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 50rem;
  width:100%;
  justify-content: center;
  align-content: center;
  z-index: -1;
}
.quote{
  color: white;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  z-index: 1;
  padding: 200px;
  padding-top: 400px;
  
}
.text1{
  font-size: 50px;
  letter-spacing: 4px;
  font-weight: bold;
  text-align: left;
}
.text2{
  display: flex;
  font-size: 30px;
  letter-spacing: 4px;
  padding-left: 90px;
  font-weight: bold;
  opacity: 0.8;
  align-self: flex-start;
}
.who{
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
.background-who{
  display: flex;
  width:96%;
  padding-bottom: 80px;
}
.frasewho{
 font-size: 26px;
 color:#82674C;
 text-align: left;
 align-content: center;
 padding-left: 50px;
padding-right: 50px;

letter-spacing: 2px;

}
.about{
  display: block;
  color:#82674C;
  max-width: 600px;
justify-content: flex-end;
padding: 10px;
}
.cabecalhoabout{
  letter-spacing: 3px;
  font-size: 25px;
  text-align: start;
  padding: 10px;
}
.paragraphabout{
font-size: 20px;
text-align: justify;
}
.background-main{
background-color: beige;
}

/*ESFERAS*/
.esferas{
  display: flex;
  justify-content: space-around;
  align-content: center;
  color: #82674C;
  padding: 20px 100px 100px 100px;
}
.missão{
  font-size: 20px;
  color: #82674C;
  padding: 10px 30px 30px 30px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  max-width: 400px;
}

.visão{
  font-size: 20px;
  color: #82674C;
  padding: 10px 30px 30px 30px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  max-width: 400px;
}

.valores{
  font-size: 20px;
  color: #82674C;
  padding: 10px 30px 30px 30px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*---------*/
/*-------------------*/
/*-------------------*/
/*SERVIÇOS*/
.mainserv{
  justify-content: center;
  align-content: center;
}
.background-color{
  background-color: rgb(255, 255, 255);
}
.topbackgroundserv{
  background-image: url(../code/imgs/pexels-pixabay-416405.jpg);
 background-size:cover;
 height: 50vh;
 width: 100vw;
}
.heroserv{
  display: flex;
  justify-content: space-between;
  align-items:center;
  height: 10vh;
  width:100%;
  background-color:#82674C;
}
.headertext{
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cabeçalho1{
  font-weight: bold;
  text-transform: uppercase;
  color: #82674C;
  letter-spacing: 2px;
}
.introserv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity:100%;
  width:100%;
}
.marca{
  display: flex;
  padding: 20px;
  justify-content: center;
}
.brandingserv {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.2;
  opacity:100%;
  padding:3px;
  justify-content: center;
}

.logoserv {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 4px;
  opacity:100%;
}

.sub-logoserv {
  font-size: 10px;
  color: white;
  opacity: 0.7;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity:100%;
}


/*Main Section*/


/*Nav*/
.nav-listserv {
  list-style: none;
  padding:20px;
  display: flex;
}

.nav-listserv li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menuserv {
  display: none;
  cursor: pointer;
  padding: 20px;
}

.mobile-menuserv div {
  width: 32px;
  height: 2px;
  background-color: white;
  margin: 6px;
  transition: 0.3s ease;
  border-radius: 2px;
  opacity:100%;
}
.menuhoverserv::before{
  content: "";
  position: absolute;
  bottom: 0px;
  height: 2px;
  width: 0;
  background-color: white;
  border-radius: 50px;
  transition: width 0.3s ease;
}
.menuhover:hoverserv::before{
  width:100%;
}
/**/


/* MEDIA QUERY: HEADER */ 
@media (max-width: 999px) {
  .nav-listserv {
    position: absolute;
    top: 10vh;
    right: 0;
    width: 50vw;
    height: 90vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 2;
    background-color:#281f174f;
  }

  .nav-listserv li {
    margin-left: 8px;
    opacity: 0;
  }

  .mobile-menuserv {
    display: block;
  }

  .nav-listserv.active {
    transform: translateX(0);
    
  }

  @keyframes navLinkFadeserv {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

/*MEDIA QUERY: AMOSTRAS*/
@media(max-width: 999px) {
  .amostras {
    justify-content: center;
    z-index: -1;
  }
  .container-slider {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1rem;
    position: relative;
  }
  .container-img {
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 60vw;
    position: relative;
    object-fit: cover;
  }
  .slider {
    opacity: 0;
    transition: opacity 1s;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .on {
    opacity: 1;
  }
  #prev-button, #next-button {
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.516);
    transform: translateY(-50%);
    top: 50%;
    z-index: 1;
  }
  #prev-button img, #next-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}


/*-------------------*/
/*FOOTER*/
footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  color:white;
  padding-top: 5px;
  justify-content: space-between;
  background-color: #82674C;
  z-index: 2;
}

.contatorodape{
  display: block;
  text-align: left;
  padding: 10px;
  padding-right: 35px;
  
}

.marcarodape{
  display: block;
  padding-top: 50px;
  padding: 10px;
  padding-left: 30px;
}

.logorodape{
  display: flex;
}
.sloganrodape{
  display: block;
}
.imgrodape{
  height: 30px;
  width: 40px;
  padding-left: 10px;
}

.textordoape{
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.paragraforodape {
  padding-left: 15px;
  font-size: 9px;
  color: white;
  opacity: 0.7;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 0.8;
  letter-spacing: 2px;
}
@media(max-width: 999px) {
  .h3deco{
  font-size: 10px;
  letter-spacing: 5px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:#82674C;
  background-color: beige;
  background-size: cover;
  padding: 10px;
}
  .imgserv{
    width:30vw;
    height:20vh;
  }
  .gap{
    padding:5px;
  }
  .textdecoration{
    font-size: 12px;
  }
  .linhad{
  color: white;
  text-align: center;
  padding-bottom: 20px;
  padding: 5px;
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 5px;
}
.Linha{
  text-align: center;
  color:white;
 padding-bottom: 15px;
  margin-top: 40px;
}
.textdecoration{
  padding-top: 80px;
  position: absolute;
 z-index: 1;
 text-align: center;
 font-weight: bold;
 font-size: 10px;
 max-width: 200px;
}

}